doctype html
html(lang="en-US")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1= title
    p With some text?
