doctype html
html(lang="en-US")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1(data-testid="page-heading")= title
    p= text
    div
      :markdown-it
        Current notice effective as of January 1, 2020

        This Privacy Notice (this “Privacy Notice”) applies to the following, without limitation:

        <a href="https://www.Beautyrest.com" target="_blank">www.Beautyrest.com</a>  
        <a href="https://Beautyrestretailers.com" target="_blank">Beautyrestretailers.com</a>  
        <a href="https://Beautyrestguestpurchase.com" target="_blank">Beautyrestguestpurchase.com</a>  
        <a href="https://Caesarsguestpurchase.com" target="_blank">Caesarsguestpurchase.com</a>  
        <a href="https://Serta.com" target="_blank">Serta.com</a>  
        <a href="https://Sertahospitality.com" target="_blank">Sertahospitality.com</a>  
        <a href="https://Sertasimmons.com" target="_blank">Sertasimmons.com</a>  
        <a href="https://Simmons.com" target="_blank">Simmons.com</a>  
        <a href="https://Simmonshospitality.com" target="_blank">Simmonshospitality.com</a>  
        <a href="https://tuftandneedle.com" target="_blank">tuftandneedle.com</a>

        , as well as in-person interactions and phone and email (collectively, the “Site”). The Site is operated by Serta Simmons Bedding, LLC (“SSB”,” “we,” “us” or “our”).  By accessing or using the Site, you agree that your information will be handled in accordance with this Privacy Notice, as may be amended from time to time. If you do not agree to the terms and conditions of this Privacy Notice, please do not use the Site. The Privacy Notice is part of and incorporated into the Terms & Conditions for this Site (the “Terms”).

        If you are a California resident, please review Section XVI below for California-specific terms.

        ***
        ## I. Changes to This Privacy Policy
        We may revise this Privacy Notice from time to time and when we do so, we will update the date above.  We reserve the right to change, modify, add or remove portions of this Privacy Notice from time to time and in our sole discretion.  The most current version of the Notice will govern our collection, use, and disclosure of information about you. If we make material changes to the Notice, we will notify you by email or by posting a notice on the Site. Your continued access to the Site Services will indicate your acceptance of our updated Notice.

        ***
        ## II. Purpose of this Privacy Policy
        The purpose of this Privacy Notice is to inform you about how we collect, use, and disclose the information collected from and about you and other users of the Site.

        ***
        ## III. Definitions
        The following definitions apply when these terms are used in this Privacy Notice. If a term is not defined in this Privacy Notice, it is defined in the Terms.

        “IP Address” refers to “Internet Protocol Address” and means the unique number that allows computers attached to the Internet to know where to send you data (such as the webpages you view) and where the data that you are sending is coming from.

        “Personal Information” means information that, alone or when in combination with other information, identifies, reasonably relates to, or could reasonably be linked to, directly or indirectly, a person or household. Your Personal Information includes, without limitation, your name, address, email address, phone number, IP address, cookie IDs, and device identifiers. Your Personal Information does not include information that we obtain in or transform into an anonymous format which cannot reasonably identify you. However, if we collect Non-Personal Information and link it to your full name or other type of Personal Information, the combination of this data would be “Personal Information.”

        “Non-Personal Information” means information that does not identify you as a specific individual, including without limitation anonymous usage statistics including frequency of messaging and interaction with other users, clickstream data other log file data, or social analytics and tracking measurements. We may link your Non-Personal Information to your Personal Information which, in combination, would become, and would be treated as, Personal Information.

        “Aggregate Data” is a subset of Non-Personal Information and means Non-Personal Information that we collect about a group or category of customers or Products.

        To "use" or to "process" information means to handle or utilize the information in any way, including without limitation by subjecting the information to statistical or other evaluation or analysis, or by collecting, storing, modifying, deleting, combining the information (including by using cookies on a computer), or by disclosing and/or transferring the information within our company or among our affiliates, partners or to our service providers within the United States or internationally.

        “Products” means mattresses and other products.

        ***
        ## IV. Types of Information We Collect About You
        We collect Personal Information, Non-Personal Information, and Aggregate Data as defined above. The categories of information we or our service providers collect from you include:

        * _Name and Contact Information_: We may collect your name, email address, postal address, phone number, and for job applicants, we may also collect information regarding your work history, education, veteran status, visa status, and date of birth.
        * _Demographic Information:_ We may collect demographic information such as age, gender, city, state, and country.
        * _Usage Information_: We may collect data about how you and your devices interact with the Site and our related services. This usage information could include features you use, the web pages you visit, the products you view, and the search terms you enter. This could also include data about your devices and the network you use to connect to our Site, including IP Address, device identifiers, and data about the performance of the services you use on the Site and any problems you experience with them. We have engaged Inspectlet to analyze the activities of visitors to this Site, and Inspectlet’s authorized use of cookies and other tracking technologies enable it to have access to Personal Information of visitors to this Site. Such access to and use of Personal Information by Inspectlet is governed by Inspectlet’s privacy policy, available at <a href="https://www.inspectlet.com/legal#privacy" target="_blank">https://www.inspectlet.com/legal#privacy</a>.
        * _Payment Information:_ We or our service providers may collect information you provide to us in connection with a transaction.  This may include your name, email address, phone number, payment information (card number, expiration date and CVV), billing address, and shipping information.  If you select to pay later with Affirm, then Affirm may collect certain personal information from you that is subject to Affirm’s privacy policy available here: <a href="https://www.affirm.com/privacy" target="_blank">https://www.affirm.com/privacy</a>.
        * _Content and Other Information You Provide to Us:_ We collect additional content and information that you voluntarily provide us, such as when you inquire about one of our Products, or content you submit when you contact us via the Site or by email.
        * _Location Information:_ We may also collect your location (which may include your city, state, zip code and/or IP address) if you choose to allow us to track your location through our Site or through other means, or if your Personal or Non-Personal Information indicates a certain geographic location. This information may help us provide recommendations to you based on your location, serve you with advertisements, or direct you to offerings that may be of interest to you and/or are marketed to persons near your location.

        __A note about fraud:__ SSB is aware of identity theft and unlawful practices known as "phishing.” We do not and will not solicit or request your credit card information or national identification numbers in an unsolicited email or telephone communication. If you receive such solicitations or requests that appear to be from us, please contact us at <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a> before responding. More information is available on the <a href="https://www.ftc.gov/news-events/media-resources/identity-theft-and-data-security/phishing-scams" target="_blank">Federal Trade Commission’s website</a>.

        ***
        ## V. How We Collect Your Information

        _Information we collect from you._

        We will ask you to provide us with certain Personal Information when you purchase a Product from the Site or when you communicate with us about a Product that you have purchased from us. When you make a payment for a Product that you purchase via the Site, you will likely need to provide Personal Information to our service providers (i.e., payment processors), such as your credit card number or PayPal account information.  We also collect your email address when you make a purchase online and we may use it for our marketing purposes.  We may also collect Personal Information from you if you send us Personal Information in an email, via the chat functionality on the Site, or when you type information into certain fields (e.g., an email address field) on the Site.

        We also collect any information that you may choose to post on or via the Site in any public posting areas, such as Postings or other feedback. If you choose to submit any such information, you do so at your own risk and by doing so you acknowledge it will not be confidential. If you do not want people to know certain information (your email address, for example), then do not include it in any message you post publicly. Please be extremely careful when disclosing any information in public posting areas. We are not responsible for use by others of information that you post publicly.

        We may ask you to participate in surveys or polls from time to time. If you decide to participate voluntarily, we may ask you to provide certain information, which may include Personal Information.

        We may also collect your location if you choose to allow us to track your location through our Site or through other means, or if your Personal Information or Non-Personal Information indicates a certain geographic location. This information may help us provide recommendations to you based on your location, serve you with advertisements, or direct you to offerings that may be of interest to you and/or are marketed to persons near your location.

        _Information we collect from other sources._

        We also receive information, including Personal Information, from our service providers, such as joint marketing partners, public databases, publicly available pages on social media platforms and other service providers with whom we work.

        We may also combine Personal Information we collect from you with information we receive from our service providers.

        _Information we collect passively._

        For more information on information we collect passively, please review Section VI below.

        ***
        <a name="vi" class="anchor_target"></a>
        ## VI. Cookies and Other Similar Technologies

        <span style="text-decoration: underline;">Cookies</span>. A cookie is a small text or data file that is sent to your browser from a website's computer and is stored on your computer's hard drive. Most browsers automatically accept cookies as the default setting but allow you to block, delete, or pre-approve cookies. However, if you do that, certain websites, including our Site may not work fully or properly (e.g., you may not be able to access or use certain pages, features, or functionality). Some of the cookies that we use may be flash cookies/Adobe cookies, which are more persistent in nature. These cookies may not be deleted when your cookies are deleted. If you are interested in learning more about this, you should check your browser to determine where these types of cookies are stored and how they may be deleted. If you wish to block, delete, or pre-approve the use of cookies, you generally must do so on each computer and browser on which you wish to block, prevent, or pre-approve such cookies.

        We use certain service providers in order to better understand our users’ needs and to optimize our Site and experience (e.g., how much time they spend on which pages, which links they choose to click, what users do and don’t like, etc.). This enables us to build and maintain our Site with user feedback. These service providers store this information on our behalf in a pseudonymized user profile and they are contractually forbidden to sell any of the data collected on our behalf.

        To facilitate the delivery of relevant content, some cookies we use are for ‘Google Analytics’. Those are used to identify how users engage with our Site and to provide us with interest and demographic information regarding Site visitors. We may also use this information to optimize marketing and refine advertising and/or programming strategies. For a complete privacy notice and instructions to “opt out” of Google Analytics’ data aggregation and usage, please see <a href="https://www.google.com/policies/privacy/partners" target="_blank">www.google.com/policies/privacy/partners</a>.

        <span style="text-decoration: underline;">Web Beacons</span>. A web beacon is an electronic image, also called a "gif," that may be in the form of a "png" image, as well as iframe, script, input link, embed, object, and other tags that are used to track usage. We may use these web beacons on our Site to deliver cookies, to attribute sales to any advertising media or affiliate partners with whom we may have a relationship, to count visits, to compile statistics about usage, to help determine the effectiveness of promotional or advertising campaigns, and/or in emails that we may send you in order to tell if you have opened or acted on an email that we have sent you.

        <span style="text-decoration: underline;">Pixels</span>. A pixel is a piece of code or an electronic image embedded on the Site (but ordinarily not visible to users) that collects information about users’ engagement on that web page. The use of a pixel allows us to record, for example, that a user has visited a particular web page within the Site or clicked on a particular advertisement, to deliver branded services, and/or to help determine the effectiveness of promotional or advertising campaigns.

        <span style="text-decoration: underline;">Server Log Data</span>. When you visit the Site, our servers automatically record information that your browser sends whenever you visit a website. This data may include information such as your IP Address, browser type, the webpage you were visiting before you came to our Site, the pages of our Site that you visit, the time spent on those pages, information for which you may search on our Site, access times and dates, and other statistics. We use this information to monitor and analyze use of the Site and for general technical administration of the Site, to improve the Site’s functionality and convenience, and to better serve our customers’ needs and preferences. We also may use Server Log Data to verify that Site visitors meet criteria that we have established as necessary before processing their purchases.

        We may use advertisers, third party ad networks, and other advertising companies to serve advertisements on the Site and other digital properties. Some content, including advertisements, on the Site may be served by advertisers, third party ad networks, and other advertising companies. Please be advised that such parties may gather information about your visit to the Site or other sites through technologies (such as through cookies, web beacons, and other technologies) to enable such advertising companies to market products or services to you, to monitor which ads have been served to your browser and which webpages you were viewing when such ads were delivered. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services.  They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.  We do not control these third parties, including the technologies they may use.  If you would like more information about this practice and to know your choices please visit <a href="https://optout.networkadvertising.org" target="_blank">optout.networkadvertising.org/</a> and <a href="https://wwww.aboutads.info/choices/" target="_blank">www.aboutads.info/choices/</a>. PLEASE NOTE THAT THIS PRIVACY NOTICE DOES NOT COVER THE COLLECTION AND USE OF INFORMATION BY SUCH ADVERTISING COMPANIES.

        As noted above, you may block, delete, or pre-approve use of cookies on your computer by adjusting your web browser settings. Such limitations, however, are not effective on mobile applications, though many applications allow users to “opt out” of certain advertisements and other features by adjusting their mobile device settings. If you are using an iOS device, you may opt out of tracking for advertising purposes by clicking on Settings &#8594; Privacy &#8594; Advertising &#8594; Limit Ad Tracking. If you are using an Android device, you may opt out of tracking for advertising purposes by going to Settings &#8594; Google Settings &#8594; Ads &#8594; Enable “Opt out of Ads Personalization.”

        ***
        <a name="vii" class="anchor_target"></a>
        ## VII. How We Use Your Information
        We use your Personal Information (in some cases, in conjunction with Non-Personal Information) to communicate with you, to answer your questions, to process and consummate your transactions with us, to deliver Products that you purchased from us, to send you information about Products or services that we think may interest you in accordance with your preferences, to administer promotions, and try to solve any problems that you may encounter relating to the same. We use your Personal Information to personalize your experience on the Site and manage, protect, and improve our Products, services and the Site.

        By using the Site, you are authorizing us to gather, parse, and retain data related to the provision of the Site and your interactions with us.

        By providing us with your email address, you agree to receive emails from us. However, we will not give your email address to another party to promote their products or services directly to you without your consent.

        We may also use your Personal Information for advertising, marketing, and promotions. For example, we may use your information for generating web analytics to compile user information for marketing purposes, advertising, conducting marketing analysis, providing you with recommendations for Products or services based on your profile, and promotional material planning and distribution.

        Aggregate Data helps us to understand trends so that we can better consider new Products and services, analyze usage, facilitate payments, or otherwise improve or tailor our offerings. For example, we may collect Aggregate Data about the shopping habits of residents of a particular state (without linking this data to any specific Personal Information about those residents).

        ***
        ## VIII. How We Share Your Information
        We may share or disclose your Personal Information to the following categories of entities and for the following reasons:

        * With our affiliated and unaffiliated service providers who are offering products or services that we believe may be of interest to you or who require your Personal Information, for research, administrative, and/or internal business purposes.
        * To affiliated and unaffiliated service providers, for advertising and marketing purposes.
        * To unaffiliated service providers assist us in operating the Site, conducting our business, providing our services to you, and for our marketing and advertising purposes.
        * To law enforcement, government agencies, and other third parties, for complying with the law (or in the good faith belief that such action is necessary), enforcing our website policies, or protecting our or others’ rights, property, or safety.
        * To third parties as part of any direct or indirect corporate reorganization process including, but not limited to, mergers, acquisitions, and sales of all or substantially all of our assets.
        * To service providers (including those engaged as data aggregators) to track and analyze information from our visitors and customers.
        * To protect against potential fraud, we may verify with our service providers the information collected from the Site.
        * As otherwise described at the point of collection or otherwise pursuant to your consent.

        As noted above, we may use service providers to help us operate and improve the Site and/or transact business (including, without limitation, maintenance services, database management providers, payment processors, or web analytics consultants, etc.). These service providers may also collect or have access to Personal Information from our Site. Such service providers are not authorized to use the Personal Information for any purpose other than to provide the administrative services for which they are responsible. Please let us know via <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a> if you want a list of such service providers.

        In addition, the feature of our purchase process that auto-populates addresses when you begin typing them into our order form implements functionalities that are enabled by Google Maps APIs. By using those features or functionalities, you are bound by Google’s Privacy Policy with respect to those features or functionalities. Google’s Privacy Policy can be found <a href="https://www.google.com/policies/privacy/partners" target="_blank">www.google.com/policies/privacy/partners</a>.

        We reserve the right to share with service providers, for any reason not disclosed above, any Non-Personal Information, including Aggregate Data. We may do this for any business purposes, including industry analysis, and demographic profiling. Any Aggregate Data shared in these contexts will not contain your Personal Information.

        ***
        ## IX. Security
        We take reasonable steps to safeguard your Personal Information in accordance with this Privacy Notice. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. As such, we cannot promise, ensure, or warrant the security of any information that you may provide to us.

        We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored personal information (as defined in applicable state statutes concerning security breach notifications) to you via email or conspicuous posting on the Site as promptly as possible, and without unreasonable delay, taking into account the legitimate needs of law enforcement or any measures necessary to determine the scope of the breach and/or to restore the reasonable integrity of the affected data system.

        You may have a legal right to receive any such notice in writing. To receive free written notice of any security breach, or otherwise to withdraw your consent from receiving electronic notices, please notify us at <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>.

        ***
        ## X. Compliance with Law and Law Enforcement
        We may access, preserve, and disclose your Personal Information, other account information, and content if we believe that doing so is required or appropriate in order to comply with law enforcement requests, other legal obligations, to respond to your requests, or protect yours’, ours’ or other parties’ rights, property, safety, or welfare.

        ***
        ## XI. International Transfer
        We are based in the U.S. If you choose to provide us with Personal Information, we may transfer that information to affiliates, subsidiaries, and/or service providers across borders, and from your country or jurisdiction to other countries or jurisdictions around the world. If you are visiting from the European Union/European Economic Area (EU/EEA) or other regions that have laws governing data collection and use that may differ from U.S. law, please note that you are transferring your Personal Information to the U.S., which does not have the same data protection laws as the EU/EEA and may not afford you the same rights as the laws of the EU/EEA afford you. By providing your Personal Information, you agree to the use of your Personal information for the uses identified above in accordance with this Privacy Notice and to the transfer of your Personal Information to the U.S. as indicated above, in accordance with applicable law.

        If you choose to provide us with Personal Information, you agree that any dispute over privacy or this Privacy Notice will be governed in accordance with the provisions of [Section XIV of the Terms](/legal/terms#xiv).

        ***
        ## XII. Links to Other Websites, Including Social Media Platforms
        This Privacy Notice does not apply to information collected by other websites, including those linked to on the Site. The Site may provide links to other websites. We do not screen, have no control over, and is not responsible in any way for the content or privacy practices of such other websites or the persons or organizations that operate them. Likewise, no link to a third-party website, banner ad, or other advertisement for a third party should be construed as our endorsement, authorization, or indicia of any SSB affiliation with such other entity (or such entity’s privacy or information security policies or practices). Other websites may follow different rules relating to the collection, use, and/or disclosure of the personal information you may submit. We encourage you to read the privacy policies or statements of any other websites you visit.

        The Site also may contain links to and enable interactivity vis-a-vis certain social media platforms, which may place their own cookies or similar technologies on your device and browser. We neither have influence over the Personal Information collected and processing operations conducted by the providers, nor are we aware of the full extent of Personal Information collection, purposes, or the retention periods. Further details on the purpose and scope of collection and processing by the social media platform provider can be found in the respective privacy policies of these providers, where you will also find further details on your rights and options for privacy protection. Personal Information that you voluntarily disseminate online in any public posting areas (such as a social media platform) may be viewed and used by others without any restrictions. We have no control over or liability relating to any information that you disseminate through a public posting area.

        ***
        ## XIII. Children
        The Site does not knowingly target children under the age of 13, and SSB does not knowingly collect Personal Information from any child under the age of 13. If we learn that any such information has been provided to us via the Site, we will delete or destroy it. If you believe that Personal Information about your child or another child under the age of 13 has been transmitted through the Site, please contact us at <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>.

        ***
        ## XIV. Business Transfers
        In the event that all or part of our assets are sold or acquired by another party, or in the event of a merger, you grant us the right to assign the Personal and Non-Personal Information collected via the Site.

        ***
        ## XV. Access, Opting-Out and Other Individual Rights
        We provide you with an opportunity to access your Personal Information to ensure it is correct, accurate and current. To do so, you may contact us at <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>. Please let us know via email if you want us to delete Personal Information that we have collected about you.

        If you receive a marketing email from us that you would prefer not to have received, you can use the “unsubscribe” link found at the bottom of the email to “opt out” of receiving future emails to request the same. We will comply with your request. If you consent to our providing your e-mail address to a third party to receive their separate marketing communications, please contact the third-party to opt-out of their communications.

        ***
        <a name="xvi" class="anchor_target"></a>
        ## XVI. California Privacy Rights
        Pursuant to Section 1798.83 of the California Civil Code, California residents have the right to request from a business with whom the California resident has an established business relationship what types of personal information, if any, the business shares with third parties for direct marketing purposes by such third parties and the identities of the third parties with whom the business has shared such information in the immediately preceding calendar year.  To make such a request, please contact us at <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>.

        Please note that we do not respond to or honor “do not track” (a/k/a/ DNT) signals or similar mechanisms transmitted by web browsers.  More information about “do not track” is available at www.allaboutdnt.org concerning such information.  Third parties and website analytics provider are permitted to track which websites you visited prior to and after visiting the Site.  We cannot control third-party tracking including technologies that may be used.  For more information, see Section VI above.

        If you are a California resident, in addition to the rights listed in Section XV above, you have certain rights, pursuant to the California Consumer Privacy Act of 2018 (or “CCPA”).  These CCPA rights may only apply in certain circumstances and are subject to certain exemptions.  Please see the table below for a summary of your rights.  You can exercise these rights using the contact details below.

        <table>
          <tbody>
            <tr>
              <th style="border: 1px solid #999;" align="left">Right to Know</th>
              <td valign="top" align="left" style="border: 1px solid #999;">As a California resident, you have the right to request that we disclose what personal information we collect, use, disclose and/or sell.</td>
            </tr>
            <tr>
              <th style="border: 1px solid #999;" align="left">Right to Request Deletion</th>
              <td valign="top" align="left" style="border: 1px solid #999;">As a California resident, you have a right to request the deletion of your personal information collected or maintained by us.</td>
            </tr>
            <tr>
              <th style="border: 1px solid #999;" align="left">Right to Non-Discrimination</th>
              <td valign="top" align="left" style="border: 1px solid #999;">As a California resident, you have a right not to receive discriminatory treatment by us for the exercise of any of your CCPA rights.</td>
            </tr>
            <tr>
              <th style="border: 1px solid #999;" align="left">Authorized Agent</th>
              <td valign="top" align="left" style="border: 1px solid #999;">As a California resident, you can exercise your CCPA rights or you can designate an authorized agent to make a request on your behalf.</td>
            </tr>
            <tr>
              <th style="border: 1px solid #999;" align="left">Contact Us for More Information</th>
              <td valign="top" align="left" style="border: 1px solid #999;">If you have questions about this Privacy Notice, including anything in this section about your CCPA rights, please contact us using the contact methods listed below.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th style="border: 1px solid #999;">Category of Personal Information</th>
              <th style="border: 1px solid #999;">Source(s) of Personal Information</th>
              <th style="border: 1px solid #999;">Business or Commercial Purpose for Which It Was Collected</th>
              <th style="border: 1px solid #999;">Categories of Third Parties with Whom the Business Shares Personal Information</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Identifiers (name, postal address, unique personal identifier, online identifier, Internet Protocol address, email address)</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you;<br /><br />
                via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including maintaining or servicing accounts, providing customer service, verifying customer information, providing advertising or marketing services, providing analytic services</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, third party marketers, or other unaffiliated parties, for advertising and marketing purposes; with vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Personal Information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)) (name, address, telephone number)</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you; via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including maintaining or servicing accounts, providing customer service, verifying customer information, providing advertising or marketing services, providing analytic services</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, third party marketers, or other unaffiliated parties, for advertising and marketing purposes; with vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Internet or other electronic network activity (browsing history, search history, information regarding your interaction with the Site or advertisements)</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you; via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including providing analytic services; auditing related to a current interaction with the consumer and concurrent transactions, including, but not limited to, counting ad impressions to unique visitors, verifying positioning and quality of ad impressions, and auditing compliance with this specification and other standards</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Commercial information including records of products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you; via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including processing or fulfilling orders and transactions, verifying customer information, processing payments</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, third party marketers, or other unaffiliated parties, for advertising and marketing purposes; with vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Geolocation information</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you; via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including providing advertising or marketing services, providing analytic services</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, third party marketers, or other unaffiliated parties, for advertising and marketing purposes; with vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Protected class information. Refer to, for example: https://www.senate.ca.gov/content/protected-classes</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Directly from you; via our service providers</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Performing services on behalf of the business including providing advertising or marketing services, providing analytic services</td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
            <tr>
              <td valign="top" align="left" style="border: 1px solid #999;">Inferences drawn from any Personal Information to create a profile about a consumer reflecting the consumer’s preferences, characteristics, behavior, attitudes, intelligence, abilities, and aptitudes</td>
              <td valign="top" align="left" style="border: 1px solid #999;">Derived</td>
              <td valign="top" align="left" style="border: 1px solid #999;"></td>
              <td valign="top" align="left" style="border: 1px solid #999;">With vendors, affiliates, strategic partners, agents, third party marketers, or other unaffiliated parties, for advertising and marketing purposes; with vendors, affiliates, strategic partners, agents, for administrative, legal, and/or internal business purposes</td>
            </tr>
          </tbody>
        </table>

        To submit a verifiable consumer request, you can do so using any of the following designated request methods:

        CCPA Hotline:  <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>  
        Operating Hours:  Monday – Friday 8:30 AM to 2:30 PM EST  
        -OR-  
        Serta Simmons Bedding, LLC  
        Attn: Consumer Services Department (CCPA)  
        2451 Industry Avenue  
        Doraville, GA 30360

        We may ask for certain information to verify the request in accordance with applicable law.

        We do not sell Personal Information of minors under 16 years of age and we will not do so without affirmative authorization.

        If you would like to print a copy of this Privacy Notice, please select the “Print” button in your web browser.

        ***
        ## XVII. Canadian Privacy Rights
        Canadian residents may access their Personal Information that is in our custody and control, subject to certain exceptions prescribed by law. To make such a request, please contact us at [cancustomerservice@sertasimmons.com](mailto:cancustomerservice@sertasimmons.com). We may request certain Personal Information for the purpose of verifying the identity of the individual seeking access to their Personal Information.

        ***
        ## XVIII. Contact Information
        If you have any questions about this Privacy Notice, would like to exercise your rights, or if you have suggestions on how we might improve this Privacy Notice, please contact us <a href="tel:+18002166747" title="Call Support">1(800)216-6747</a>.

